
table,th,td	{	border:none;  border-collapse:collapse; font-family:corbel,'helvetica neue','trebuchet ms',arial,helvetica,sans-serif; font-size:1em; line-height:1.5em}
table		{	background:black; -webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px; -webkit-box-shadow:1px 1px 10px rgba(0,0,0,0.3); -moz-box-shadow:1px 1px 10px rgba(0,0,0,0.3)}
caption		{	text-align:left; text-transform:uppercase; font-size:150%; font-weight:bold; padding:1.5em 0; color:black}

thead, 
tfoot			{	color:white; }

thead th				{	padding:0.5em 1em; text-transform:uppercase; text-align:left; }
thead th:first-child	{	width:10em; text-align:right; }

tbody td,
tbody th				{	font-size:100%; padding:0.5em 1em; background-color:#e5e5e5; vertical-align:top}
tbody th				{	color:#222;	text-align:right; background-image:url(tabel.png); background-repeat:repeat-y; border-right:1px solid #ccc}
tbody td:last-child		{	border-right:1px solid black}

tbody tr.odd th, 
tbody tr.odd td			{	background-color:#eee; color:#222}

tfoot td,
tfoot th				{	border:none; padding:0.5em 1em 2em; font-size:130%}
tfoot th				{	text-align:right}

table a:link	{	line-height:1em; color:black; display:inline-block; padding:3px 7px; margin:-3px -7px}
table a:visited	{	color:#555}
table a:hover	{	text-decoration:none; background:black; color:white; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px}

::-moz-selection{	background:#202020; color:white}
::selection		{	background:#202020; color:white}

thead ::-moz-selection, 
tfoot ::-moz-selection	{	background:white; color:#202020}
thead ::selection, 
tfoot ::selection		{	background:white; color:#202020}

.cuadro{
	width: 90.5%;
	height: 480px;
	background-color:#FFFFFF;
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
	border: thin solid #c6c6c6;
	/*float:left;*/
	/*margin: 0 auto 0 auto;*/
	margin-top: 10px;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 50px;
	overflow: auto;  
	resize:none;
}

#separador{
	float: left;
	padding-left: 20px;
}

.caja{
	background-color:#FFFFFF;
	padding-right: 20px;
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
	border: thin solid #c6c6c6;
	/*margin: 0 auto 0 auto;*/
}

.barra{
	font-style: italic;
	text-align: right;
}

#opcion-barra{
	float: left;
	margin-top: 13px;
	margin-left: 5px;
	margin-right: 5px;
	cursor: pointer;
}

.submit{
	
}

p{
	font-family:'Comic Sans MS';
	padding-top: 0px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 2px;
}

.login{
	width:300px;
	margin:0 auto 0 auto;
}

.iniciar{	
	font-size:20px;
	font-weight:bold;
	padding-left:20px;
}

.caja input{
	width:150px;
	margin-left:20px;
}

.titulos{
	float:left;
	width:180px;
	line-height:23px;
	font: 12px Arial, sans-serif;
	padding-left:20px;
}

.enviar{
	padding-top:25px;
	padding-left:20px;
}

.enviar input{
	width:92px;
	height:24px;
	border:0;
	color:#fff;
	background-color:#039;
}

.login a{
	font: 12px Arial, sans-serif;
	color:#1757c0;
	margin-left:20px;
}

.necesario{
	font: 9px Arial, sans-serif;
	color:#1757c0;
	text-align:right;
	margin-right:10px;
}


#fondo {
position:absolute;
display:block;
z-index:0;
left:0px; right:0px;
top:0px; bottom:0px;
width:100%; height:100%;
}
#bg {
position:absolute;
z-index:0;
left:0px; top:0px;
width:100%;
height:100%;
}
.wall1 { background-image:url('../images/wall1.jpg'); }
.wall2 { background-image:url('../images/wall2.jpg'); }

/* 
	Creado por Alejandro Rean
	21/12/2009
*/
